
//Variables
$color-background-grey: #f7f7f7;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $color-background-grey;
}
